/***GENERAL***/
.pink {
    color: #ED3596 !important;
}
.light-pink {
    color: #F5A6C9 !important;
}
.orange {
    color: #FAA929 !important;
}
.yellow {
    color: #FFD52F !important;
}
.teal {
    color: #5EC2A8 !important;
}
.gray {
    color: #454C4F !important;
}
.background-pink {
    background-color: #ED3596 !important;
}
.background-light-pink {
    background-color: #F5A6C9 !important;
}
.background-orange {
    background-color: #FAA929 !important;
}
.background-yellow {
    background-color: #FFD52F !important;
}
.background-teal {
    background-color: #5EC2A8 !important;
}
.background-gray {
    background-color: #454C4F !important;
}
.border-pink {
    border-color: #ED3596 !important;
}
.border-light-pink {
    border-color: #F5A6C9 !important;
}
.border-orange {
    border-color: #FAA929 !important;
}
.border-yellow {
    border-color: #FFD52F !important;
}
.border-teal {
    border-color: #5EC2A8 !important;
}
.border-gray {
    border-color: #454C4F !important;
}
.border-bottom-pink {
    border-bottom-color: #ED3596 !important;
}
.border-bottom-light-pink {
    border-bottom-color: #F5A6C9 !important;
}
.border-bottom-orange {
    border-bottom-color: #FAA929 !important;
}
.border-bottom-yellow {
    border-bottom-color: #FFD52F !important;
}
.border-bottom-teal {
    border-bottom-color: #5EC2A8 !important;
}
.border-bottom-gray {
    border-bottom-color: #454C4F !important;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    max-width: 100%;
    margin: 0px;
    font-size: 16px;
    color: #454C4F;
    overflow: hidden;
}


/***LOADING COVER***/
.loading-cover {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1.5s ease;
    z-index: 100;
/*display: none;*/
}

.loading-cover .dots {
    display: flex;
    flex: 1 1 auto;
    font-size: 3rem;
    overflow: hidden;
}
.loading-cover .dots.left {
    justify-content: flex-end;
}
.loading-cover .dots.right {
    
}
.loading-cover .dot {
    background-color: #5EC2A8;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    flex: 0 0 auto;
    margin: 0 3px;
}

.loading-cover .logo {
    flex: 0 0 auto;
    text-align: center;
}

.loading-cover .logo img {
    width: 400px;
    max-width: 95%;
}


/***MAIN CONTAINER***/
.main-container {
    width: 100%;
    height: 100%;
    background-image: url(../images/background.jpg);
    background-size: cover;
    overflow: hidden;
}

.main-container .photos {
    
}
.main-container .photo {
    
}

.main-container .pages {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.main-container .page {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transition: all 1.5s ease;
}
.main-container .page.active {
    top: 0% !important;
}
.main-container .mountain,
.main-container .page .tab {
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    cursor: pointer;
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: transparent;
}
.main-container .page .tab i {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.2em;
    position: relative;
    left: 50%;
    top: 22px;
    transform: translateX(-50%);
}
.main-container .page.one {
    z-index: 2;
}
.main-container .page.one .tab {
    transform: translateX(-140%);
    border-width: 0 40px 50px 40px;
    z-index: 2;
}
.main-container .page.two {
    z-index: 1;
}
.main-container .page.two .tab {
    border-width: 0 60px 70px 60px;
    top: -60px;
}
.main-container .page.two .tab i {
    top: 28px;
}
.main-container .page.three {
    z-index: 2;
}
.main-container .page.three .tab {
    transform: translateX(40%);
    border-width: 0 40px 50px 40px;
}
.main-container .page .content {
    height: 100%;
    padding: 10px 15px;
}
.main-container .page .content .title {
    font-size: 2rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.75);
    text-transform: uppercase;
}
.main-container .mountain.one {
    transform: translateX(-340%);
    border-width: 0 20px 30px 20px;
    top: -30px;
    z-index: 3;
}
.main-container .mountain.two {
    transform: translateX(240%);
    border-width: 0 20px 30px 20px;
    top: -30px;
    z-index: 1;
}