/***GENERAL***/
.pink {
    color: #ED3596 !important;
}
.light-pink {
    color: #F5A6C9 !important;
}
.orange {
    color: #FAA929 !important;
}
.yellow {
    color: #FFD52F !important;
}
.teal {
    color: #5EC2A8 !important;
}
.gray {
    color: #454C4F !important;
}
.background-pink {
    background-color: #ED3596 !important;
}
.background-light-pink {
    background-color: #F5A6C9 !important;
}
.background-orange {
    background-color: #FAA929 !important;
}
.background-yellow {
    background-color: #FFD52F !important;
}
.background-teal {
    background-color: #5EC2A8 !important;
}
.background-gray {
    background-color: #454C4F !important;
}
.border-pink {
    border-color: #ED3596 !important;
}
.border-light-pink {
    border-color: #F5A6C9 !important;
}
.border-orange {
    border-color: #FAA929 !important;
}
.border-yellow {
    border-color: #FFD52F !important;
}
.border-teal {
    border-color: #5EC2A8 !important;
}
.border-gray {
    border-color: #454C4F !important;
}
.border-bottom-pink {
    border-bottom-color: #ED3596 !important;
}
.border-bottom-light-pink {
    border-bottom-color: #F5A6C9 !important;
}
.border-bottom-orange {
    border-bottom-color: #FAA929 !important;
}
.border-bottom-yellow {
    border-bottom-color: #FFD52F !important;
}
.border-bottom-teal {
    border-bottom-color: #5EC2A8 !important;
}
.border-bottom-gray {
    border-bottom-color: #454C4F !important;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    max-width: 100%;
    margin: 0;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.75);
    overflow: hidden;
}
a {
    color: rgba(255, 255, 255, 0.75);
}
a:hover,
a:active {
    text-decoration: none;
}

.text {
    margin: 40px 50px;
    font-size: 14px;
    font-weight: 500;
}


/***LOADING COVER***/
.loading-cover {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1.5s ease;
    z-index: 100;
/*display: none;*/
}

.loading-cover .dots {
    display: flex;
    flex: 1 1 auto;
    font-size: 3rem;
    overflow: hidden;
}
.loading-cover .dots.left {
    justify-content: flex-end;
}
.loading-cover .dots.right {

}
.loading-cover .dot {
    background-color: #5EC2A8;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    flex: 0 0 auto;
    margin: 0 3px;
}

.loading-cover .logo {
    flex: 0 0 auto;
    text-align: center;
    display: none;
    width: 400px;
    max-width: 70%;
}

.loading-cover .logo img {
    width: 90%;
}


/***MAIN CONTAINER***/
.main-container {
    width: 100%;
    height: 100%;
    background-image: url(../images/background.jpg);
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}
@media only screen and (max-width: 1500px) {
    .main-container {
        background: url(../images/background.jpg) no-repeat center center fixed;
        background-size: cover;
    }
}

.top-icons {
    display: flex;
    position: absolute;
    top: 10px;
    right: 2px;
    transition: all 0.5s ease;
}
.top-icon {
    width: 53px;
    height: 53px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    margin: 0 8px;
}
.top-icon.photos {
    background-color: #ED3596;
}
.top-icon.rsvp {
    background-color: #5EC2A8;
}
.top-icon.registry {
    background-color: #FAA929;
}
.top-icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main-container .photo.one {
    left: 20%;
    z-index: 1;
    transform: translate(-50%, -50%) rotate(-6deg);
}
.main-container .photo.two {
    left: 35%;
    z-index: 5;
    transform: translate(-50%, -50%) rotate(1deg);
}
.main-container .photo.three {
    z-index: 4;
    transform: translate(-50%, -50%) rotate(-2deg);
}
.main-container .photo.four {
    left: 65%;
    z-index: 2;
    transform: translate(-50%, -50%) rotate(6deg);
}
.main-container .photo.five {
    left: 80%;
    z-index: 3;
    transform: translate(-50%, -50%) rotate(-1deg);
}
.main-container .photo.zoom {
    transform: translate(-50%, 0%) rotate(0deg);
    position: absolute;
    top: 2.5%;
    left: 50%;
    height: 95%;
    max-width: 95%;
    z-index: 1000;
    transition: all 0.7s ease;
}

.main-container .pages {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.main-container .top-page,
.main-container .page {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transition: all 0.8s ease;
}
.main-container .top-page {
    top: -100%;
}
.main-container .top-page .grid {
    top: 60px;
}
.main-container .top-page.active,
.main-container .page.active {
    top: 0% !important;
}
.main-container .mountain,
.main-container .page .tab {
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    cursor: pointer;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    transition: all 0.5s ease;
}
.main-container .page .tab i {
    font-size: 1.2em;
    position: relative;
    left: 50%;
    top: 22px;
    transform: translateX(-50%);
}
.main-container .page.one {
    z-index: 12;
}
.main-container .page.one .tab {
    transform: translateX(-140%);
    border-width: 0 40px 50px 40px;
    z-index: 12;
}
.main-container .page.two {
    z-index: 11;
}
.main-container .page.two .tab {
    border-width: 0 60px 70px 60px;
    top: -60px;
}
.main-container .page.two .tab i {
    top: 28px;
}
.main-container .page.three {
    z-index: 12;
}
.main-container .page.three .tab {
    transform: translateX(40%);
    border-width: 0 40px 50px 40px;
}
.main-container .page .content {
    height: 100%;
    position: relative;
    padding-top: 10px;
    padding-bottom: 60px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.main-container .page .content .title {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 15px;
}
.main-container .close-btn {
    display: none;
    position: absolute;
    top: 18px;
    right: 22px;
    cursor: pointer;
    font-size: 1.5em;
    padding-right: 10px;
}
.top-page .close-btn {
    color: #5EC2A8;
}
.main-container .page.active .content .close-btn {
    display: block;
}
.top-page.active .close-btn {
    display: block;
}

.main-container .mountain.one {
    transform: translateX(-340%);
    border-width: 0 20px 30px 20px;
    top: -30px;
    z-index: 3;
}
.main-container .mountain.two {
    transform: translateX(240%);
    border-width: 0 20px 30px 20px;
    top: -30px;
    z-index: 1;
}

.main-container .mask {
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    z-index: 999;
    transition: all 0.5s ease;
}
.main-container .mask.show {
    visibility: visible;
    background-color: rgba(160, 160, 160, .61);
}
.main-container .mask .close-btn {
    z-index: 1001;
    display: block;
}

.our-app {
    position: relative;
}
.our-app img {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 348px;
    padding-bottom: 60px;
}
.our-app iframe {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    margin-top: 100px;
    border: none;
}

.wedding-party-list {
    margin: 30px;
}
.wedding-party-list .row > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.member-photo {
    height: 160px !important;
    width: 160px !important;
    display: inline-block;
    background-size: cover;
    border-radius: 50%;
    border: 1px solid #D69226;
}
.member-name {
    font-size: 15px;
    font-weight: 700;
    padding-top: 8px;
    text-transform: uppercase;
}
.member-desc {
    font-size: 15px;
    font-weight: 500;
}
.allison .member-photo {
    background-image: url(../images/allison.jpg);
}
.ariel .member-photo {
    background-image: url(../images/ariel.jpg);
}
.becca .member-photo {
    background-image: url(../images/becca.jpg);
}
.cammie .member-photo {
    background-image: url(../images/cammie.jpg);
}
.lauren .member-photo {
    background-image: url(../images/lauren.jpg);
    background-size: 170px 170px;
    background-position: -6px -5px;
}
.blaise .member-photo {
    background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT7WKL7lukUbYZvxmQN3WLgggPOi57uAjR3Xn4ANpt8EZJeGdCO);
}
.brian .member-photo {
    background-image: url(../images/brian.jpg);
    background-position-x: -27px;
}
.stophie .member-photo {
    background-image: url(../images/stophie.jpg);
    background-position-x: -28px;
}
.daniel .member-photo {
    background-image: url(../images/daniel.jpg);
    background-position-x: -21px;
}
.dylan .member-photo {
    background-image: url(../images/dylan.jpg);
    background-position-x: -15px;
}
.markc .member-photo {
    background-image: url(../images/mark.jpg);
}
.matt .member-photo {
    background-image: url(../images/matt.jpg);
    background-position-x: -40px;
}
.rachel .member-photo {
    background-image: url(../images/rachel.jpg);
    background-position-y: -35px;
}

.top-page .content {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.grid__item .description {
    display: none;
}

[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}
[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}
[data-tooltip]:before {
    position: absolute;
    top: 51px;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}
.right-screen[data-tooltip]:before {
    left: -65%;
}
[data-tooltip]:after {
    position: absolute;
    top: 46px;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-bottom: 5px solid #000;
    border-bottom: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

#countdown {
    color: #5EC2A8;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 40px;
    position: absolute;
    top: -3px;
    left: 8px;
    transition: all 0.5s ease;
}
#countdown::before {
    top: 80px;
}
#countdown::after {
    top: 75px;
}
#countdown > div {
    padding: 0 5px;
    display: inline-block;
}
#countdown div > span {
    display: inline-block;
    font-weight: 600;
}
#countdown .smalltext {
    font-size: 16px;
    font-weight: 500;
}

.info-group {
    display: table;
    width: 900px;
    max-width: 85%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
}
.berg {
    max-width: 100%;
    height: auto;
    padding-left: 0;
    padding-right: 0;
}
.berg img {
    width: 100%;
}
.info-group img {
    padding-bottom: 10px;
}
.col-md-6 {
    padding-top: 10px;
}
.note {
    font-size: 0.7rem;
    padding-top: 3px;
    padding-bottom: 10px;
}
@media screen and (max-width: 991px) {
    .info-group {
        width: 343px;
    }
    .col-md-6 {
        padding-left: 0;
        padding-right: 0;
    }
}
@media screen and (max-width: 600px) {
    .loading-cover .dot {
        display: none;
    }

    #countdown {
        display: none;
    }

    .top-icons {
        right: 50%;
        transform: translateX(50%);
    }
}
@media screen and (max-width: 375px) {
    .main-container .page .content .title {
        display: inline-block;
        font-size: 1.4rem;
        margin-top: 10px;
    }
}
@media screen and (max-width: 332px) {
    h2 {
        font-size: 1.4rem;
    }
}
